{% comment %}
{% include 'recruiter/recruiterHeader.html' %}
{% for userdata in userdata %}
<div class="profile-wrapper">
  <ul class="profile-items">
    <li class="profile-item profile-first-name">
      <small class="profile-item-title">First Name</small>
      <p class="profile-item-text">{{request.user.first_name}}</p>
    </li>
    <li class="profile-item profile-last-name">
      <small class="profile-item-title">Last Name</small>
      <p class="profile-item-text">{{request.user.last_name}}</p>
    </li>
    <li class="profile-item ">
      <small class="profile-item-title">Profile image</small>
      <p ><img src="{{userdata.image.url}}" class="profile-image" alt="Avatar"></p>
    </li> 
    <li class="profile-item profile-email">
      <small class="profile-item-title">Email</small>
      <p class="profile-item-text">{{request.user.email}}</p>
    </li>
    
    <li class="profile-item profile-contact">
      <small class="profile-item-title">Contact</small>
      <p class="profile-item-text">{{userdata.contact}}</p>
    </li>
    <li class="profile-item profile-gender">
      <small class="profile-item-title">Company Address</small>
      <p class="profile-item-text">{{userdata.address}}</p>
    </li>


    <li class="profile-item profile-gender">
      <small class="profile-item-title">Company Name</small>
      <p class="profile-item-text">{{userdata.company_name}}</p>
    </li>
    <li class="profile-item profile-gender">
      <small class="profile-item-title">Company Type</small>
      <p class="profile-item-text">{{userdata.company_type}}</p>
    </li>
    <li class="profile-item profile-user-type">
      <small class="profile-item-title">User Type</small>
      <p class="profile-item-text">Recruiter</p>
    </li>
    {% endfor %}
  </ul>
</div>
 {% include 'footer.html' %} {% endcomment %}
<title>Profile</title>
{% load static %}
{% include 'header.html' %}
<section class="profile-wrapper section-wrapper">
        <div class="profile-top-wrapper">
          <div class="profile-image-wrapper">
          {% for userdata in userdata %}
            <img src="{{userdata.image.url}}" class="profile-image" alt={% static 'seeker/user.jpg' %} />
          </div>
          <div class="profile-image-details">

            <h4>{{request.user.first_name}} {{request.user.last_name}}</h4>
            <p class="profile-bio">
              {{userdata.bio}}
            </p>
          </div>
        </div>
        <ul class="profile-info">
          <li class="profile-info-items">
            <h5 class="profile-info-title">Username</h5>
            <p class="profile-info-detail">{{request.user.username}}</p>
          </li>
          <li class="profile-info-items">
            <h5 class="profile-info-title">Company Name</h5>
            <p class="profile-info-detail">{{userdata.company_name}}</p>
          </li>
          <li class="profile-info-items">
            <h5 class="profile-info-title">Company type</h5>
            <p class="profile-info-detail">{{userdata.company_type}}</p>
          </li>
          <li class="profile-info-items">
            <h5 class="profile-info-title">Address</h5>
            <p class="profile-info-detail">{{userdata.address}}</p>
          </li>
          <li class="profile-info-items">
            <h5 class="profile-info-title">Contact</h5>
            <p class="profile-info-detail">{{userdata.contact}}</p>
          </li>
          <li class="profile-info-items">
            <h5 class="profile-info-title">Company website</h5>
            <p class="profile-info-detail">{{userdata.website}}</p>
          </li>
          
         
        </ul>
        
        {% endfor %}