{% load static %}
<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <title>Home</title>
</head>
<nav>
    <div class="logo"><img src="{% static "images/ej.png" %}" alt="logo"/ height="50px"></div>

    <ul class="nav-items">
        <li class="nav-item"><a href="{% url 'recruiter_dashboard' %}"><i class="fas fa-home"></i>  Home</a></li>
        <li class="nav-item"><a href="{% url 'recruiter_profile' %}"> <i class="fas fa-building"></i> Org. Profile </a></li> 
        <li class="nav-item"><a href="{% url 'applicants' %}"><i class="fas fa-mail-bulk"></i>  applicants</a></li>
        <li class="nav-item"><a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i>  Logout</a></li>
    </ul>
</nav>