{% include "recruiter/recruiterHeader.html" %}
<main class="hero">
        <div class="container">
            <div class="hero-text">
                <h1 class="hero-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, minima.</h1>
                <p class="hero-desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem velit odio sit
                    eligendi. Unde eaque est dolorem! Cupiditate, voluptate error.</p>
                <div class="cta">
                    <a href="{% url 'jobhome' %}"><button class="btn btn-primary">view Jobs</button></a>
                </div>
                <div class="cta">
                    <a href="{% url 'add_job' %}"><button class="btn btn-primary">aDD Jobs</button></a>
                </div>
            </div>
        </div>
<div class="popup-msg">
    {% for message in messages %}
        <p class="popup-msg-text">{{message}}</h1>
    {% endfor %}
</div>
    </main>


{% include "footer.html" %}