{% include 'header.html' %}
<section class="profile-wrapper section-wrapper">
        <div class="profile-top-wrapper">
          <div class="profile-image-wrapper">
          {% for userdata in userdata %}
            <img src="{{userdata.image.url}}" class="profile-image" alt="avatar" />
          </div>
          <div class="profile-image-details">
          
           
            <h4>{{request.user.first_name}} {{request.user.last_name}}</h4>
            <p class="profile-bio">
              {{userdata.bio}}
            </p>
          </div>
        </div>
        <ul class="profile-info">
          <li class="profile-info-items">
            <h5 class="profile-info-title">Username</h5>
            <p class="profile-info-detail">{{request.user.username}}</p>
          </li>
          <li class="profile-info-items">
            <h5 class="profile-info-title">Gender</h5>
            <p class="profile-info-detail">{{userdata.gender}}</p>
          </li>
          <li class="profile-info-items">
            <h5 class="profile-info-title">Address</h5>
            <p class="profile-info-detail">{{userdata.address}}</p>
          </li>
        </ul>
        
        
        {% for adddata in adddata %}
        <h1>Additional details</h1>
        <ul class="profile-info">
          <li class="profile-info-items">
            <h5 class="profile-info-title">University</h5>
            <p class="profile-info-detail">{{adddata.university}}</p>
          </li>
          <li class="profile-info-items">
            <h5 class="profile-info-title">Qualification</h5>
            <p class="profile-info-detail">{{adddata.qualification}}</p>
          </li>
          <li class="profile-info-items">
            <h5 class="profile-info-title">Skills</h5>
            <p class="profile-info-detail">{{adddata.skills}}</p>
          </li>
          <li class="profile-info-items">
            <h5 class="profile-info-title">Work Experience</h5>
            <p class="profile-info-detail">{{adddata.work_experience}}</p>
          </li>
           <li class="profile-info-items">
            <h5 class="profile-info-title">Skills</h5>
            <p class="profile-info-detail">{{adddata.skills}}</p>
          </li>
          <li class="profile-info-items">
            <h5 class="profile-info-title">Preferred Job Category</h5>
            <p class="profile-info-detail">{{adddata.preferred_job_category}}</p>
          </li>
          <li class="profile-info-items">
            <h5 class="profile-info-title">Preferred location</h5>
            <p class="profile-info-detail">{{adddata.preferred_location}}</p>
          </li>
          <li class="profile-info-items">
            <h5 class="profile-info-title">Preferred location</h5>
            <p class="profile-info-detail">{{adddata.available_for}}</p>
          </li>
        </ul>
    {% endfor %}


        <h1>Contact details</h1>
        <ul class="profile-info">
        <li class="profile-info-items">
            <h5 class="profile-info-title">Email</h5>
            <p class="profile-info-detail">{{request.user.email}}</p>
          </li>
          <li class="profile-info-items">
            <h5 class="profile-info-title">Contact</h5>
            <p class="profile-info-detail">{{userdata.contact}}</p>
          </li>
          {% for socialdata in socialdata %}
          <li class="profile-info-items">
              <a href="{{socialdata.facebook}}" target="popup"  onclick="tab.open('{{socialdata.facebook}}','name')"><i class="fab fa-facebook-square"></i></a>
          
          <a href="{{socialdata.instagram}}" target="popup"  onclick="tab.open('{{socialdata.instagram}}','name')"><i class="fab fa-instagram-square"></i></a>
          <a href="{{socialdata.twitter}}" target="popup"  onclick="tab.open('{{socialdata.twitter}}','name')"><i class="fab fa-twitter-square"></i></a>
          <a href="{{socialdata.others}}" target="popup"  onclick="tab.open('{{socialdata.others}}','name')"><i class="fab fa-google-plus"></i></a>
          <a href="{% url 'password_change' %}">change password></a>
            </li>

    {% endfor %}
    {% endfor %}




















{% comment %} {% if user.seekeradditionaldetails and user.seekersocialdetails%}
  <a href=""><button class="btn btn-primary centrebtn">Edit your profile</button></a >

{% elif user.seekeradditionaldetails and not user.seekersocialdetails %}
  <a href="{% url 'social_details' %}"><button class="btn btn-primary centrebtn">Add social details</button></a >

{% else %}
  <a href=""><button class="btn btn-primary centrebtn">Edit your profile</button></a >
  <a href="{% url 'additional_details' %}"><button class="btn btn-primary centrebtn">Complete your profile</button></a >

{% endif %} {% endcomment %}

{% comment %} {% include 'footer.html'  %} {% endcomment %}