{% load static %} {% include "header.html" %}
<main>
  <div class="container">
    <div class="show-avilable-wrapper">
      <div class="hero-text">
      <img src="{% static "images/ej.png" %}" alt="logo"/ height="60px" >
        
        <p class="hero-desc">
          EJobs brings to you scientific and meticulously designed Psychometric
          Career Assessment to discover your true potential and interest. Know
          and understand yourself and the world of work in order to make career,
          educational, and life decisions.
        </p>
        <div class="cta"  style="padding:20px;">
          <a href="{% url 'jobs' %}"
            ><button class="btn btn-primary">View available Jobs</button></a
          >
        </div>
      </div>
    </div>



<section class="jobs-wrapper section-wrapper">
  <ul class="jobs-cards">
  {% for job in jobs %}
  <h2>Jobs that you may be interested in.</h2>
    <li class="jobs-card-wrapper">
      <a href="{% url 'job_details_2' id=job.job_id %}"> 
        <div class="jobs-top-category">
         <p>{{ job.job_category }}</p>
        </div>
      </a>
      <div class="jobs-card">
        <div class="jobs-card-content">
          <div class="jobs-card-top">
            <i class="fas fa-search"></i>
            <h3 class="jobs-card-title">{{ job.job_title }}</h3>
          </div>
          <p class="jobs-detail">
          {{ job.job_description|truncatechars:100 }}
          {% comment %} {{ job.job_description|truncate(50, True, '...') }} {% endcomment %}
            
          </p>
        </div>
        <ul class="jobs-card-low">
          <li class="jobs-contact-item">
            <h5>Email</h5>
            <p>{{ job.job_email }}</p>
          </li>
          <li class="jobs-contact-item">
            <h5>Number</h5>
            <p>{{ job.job_phone }}</p>
          </li>
          <li class="jobs-contact-item">
            <h5>Location</h5>
            <p>{{ job.job_email }}</p>
          </li>
        </ul>
      </div>
      {% endfor %}
    </li>
 </section>
{% include "footer.html" %}
