{% include "header.html" %}
<title>Applicants</title>
<section class="jobs-wrapper section-wrapper">


<h2>Total jobs : {{job_count}}</h2>
<h2>Total applicants : {{applicant_count}}</h2>




{% include 'bannerad.html'%}
  <ul class="jobs-cards">
  {% for job in jobs %}
    <li class="jobs-card-wrapper">
      <a href="{% url 'applicant' job.job_id %}"> 
        <div class="jobs-top-category">
         <p>{{ job.job_category }}</p>
        </div>
      </a>
      <div class="jobs-card">
        <div class="jobs-card-content">
          <div class="jobs-card-top">
            <i class="fas fa-search"></i>
            <h3 class="jobs-card-title">{{ job.job_title }}</h3>
          </div>        
          </p>
        </div>
        <ul class="jobs-card-low">
          <li class="jobs-contact-item">
            <h5>Issued Date</h5>
            <p>{{ job.created }}</p>
          </li>
          <li class="jobs-contact-item">
            <h5>Due Date</h5>
            <p>{{ job.apply_until }}</p>
          </li>
        </ul>
      </div>
      {% endfor %}
    </li>
 </section>















 
