{% include "header.html" %}

<section class="jobs-wrapper section-wrapper">
  <ul class="jobs-cards">
  {% for job in jobs %}
    <li class="jobs-card-wrapper">
      <a href="{% url 'applicant' job.job_id %}"> 
        <div class="jobs-top-category">
         <p>{{ job.job_category }}</p>
        </div>
      </a>
      <div class="jobs-card">
        <div class="jobs-card-content">
          <div class="jobs-card-top">
            <i class="fas fa-search"></i>
            <h3 class="jobs-card-title">{{ job.job_title }}</h3>
          </div>        
          </p>
        </div>
        <ul class="jobs-card-low">
          <li class="jobs-contact-item">
            <h5>Issued Date</h5>
            <p>{{ job.created }}</p>
          </li>
        </ul>
      </div>
      {% endfor %}
    </li>
 </section>















<div class="popup-msg">
    {% for message in messages %}
        <p class="popup-msg-text">{{message}}</h1>
    {% endfor %}
</div>
