{% comment %} {% include "seeker/seekerHeader.html" %}


    <h1>view your saved jobs</h1>

    {% for job in jobs %}
    {{job}}
    title               :{{ job.job.job_title }}<br>
    category            :{{ job.job.job_category}}<br>
    Position            :{{ job.job.job_position }}<br>
    Employer            :{{ job.job.job_employer }}<br>
    Description         :{{ job.job.job_description }}<br>
    Phone               :{{ job.job.job_phone }}<br>
    website             :{{ job.job.job_website }}<br>
    <a href="{% url 'remove_job' id=job.job_id %}"><button class="btn btn-primary">remove</button></a>
    <br><br><br><br>
    {% endfor %}
<div class="popup-msg">
    {% for message in messages %}
        <p class="popup-msg-text">{{message}}</h1>
    {% endfor %}
</div>
</div> {% endcomment %}


{% include 'seeker/seekerHeader.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" />
<div class="container">
  <div class="row">
    <ul class="job-items">
      {% for job in jobs %}
      <li class="job-item">
        <div class="job-item-left">
          <h2 class="job-item-title">{{ job.job.job_title }}</h2>
          {% comment %} <p class="job-desc">Job Description: {{ job.job.job_description }}</p> {% endcomment %}
          <p>Employer: {{ job.job.job_employer }}</p>
          <p>Position: {{ job.job.job_position }}</p>
          <div class="job-category-wrapper">
            <p class="job-item-category">Category:</p>
            <p></p>
            <p class="job-category">{{ job.job.job_category }}</p>
          </div>
        </div>

        <div class="job-item-low">
          <h5>Contact Info</h5>
          <p>Phone: {{ job.job.job_phone }}</p>
          <p>Email Us: <a href="">{{ job.job.job_email }}</a></p>
          <p>Apply On Our Website: <a href="">{{ job.job.job_website }}</a></p>
          <div class="job-item-cta">
            <a href="{% url 'remove_applied_job' id=job.job_id %}"><button  class="btn btn-primary" style="float: right; margin-right: 40px">Remove Job</button></a>
          </div>
        </div>
      </li>
      {% endfor %}
      </div>
    </ul>
  </div>
</div>
<div class="popup-msg">
    {% for message in messages %}
        <p class="popup-msg-text">{{message}}</h1>
    {% endfor %}
</div>