<title>Jobs</title>
{% include "recruiter/recruiterHeader.html" %}
<title>Ejobs</title>
{% block content %}
<div class="container">
  <div class="row">
    <ul class="job-items">
      {% for job in jobs %}
      <li class="job-item" >
        <div class="job-item-left">
         <a href="{% url 'job_details' id=job.job_id %}"> <h2 class="job-item-title">{{ job.job_title }}</h2></a>
          {% comment %} <p class="job-desc">Job Description: {{ job.job_description }}</p> {% endcomment %}
          <p>Employer: {{ job.job_employer }}</p>
          <p class="position">Position: {{ job.job_position }}</p>
          <p>Experience required: {{ job.experience }}</p>
          <div class="job-category-wrapper">
            <p class="job-item-category">Category:</p>
            <p></p>
            <p class="job-category">{{ job.job_category }}</p>
            
          </div>
        </div>

        <div class="job-item-low">
          <h5>Contact Info</h5>
          <p>Phone: {{ job.job_phone }}</p>
          <p>Email Us: <a href="">{{ job.job_email }}</a></p>
          <p>Apply On Our Website: <a href="">{{ job.job_website }}</a></p>



          
          <p>Salary: <a href="">{{ job.salary }}</a></p>
          
          {% comment %} <div class="job-item-cta">
            <a href="{% url 'delete_job' id=job.job_id %}"><button  class="btn btn-primary" style="float: right; margin-right: 40px">Delete Job</button></a>
          </div>
          <div class="job-item-cta">
            <a href=""><button class="btn btn-primary" style="float: right; margin-right: 40px" > edit Job</button></a >
          </div> {% endcomment %}
        </div>
      </li>

      {% endfor %}
      <div class="cta">
        <a href="{% url 'add_job' %}"><button class="btn btn-primary centrebtn">aDD more Jobs</button></a >
      </div>
 >
    </ul>
  </div>
</div>
{% endblock %}
{% include 'footer.html' %}