{% include 'header.html'%}
<title>Jobs</title>
<div class="hero-search-section">
  <form action="{% url 'search' %}" class="hero-search-form">
    <input
      type="search"
      class="hero-search"
      name="query"
      placeholder="Software Engineer"
    />
    <input
      type="submit"
      value="Find your job"
      class="hero-btn btn btn-primary"
    />
  </form>
</div>
       

{% comment %} searched jobs {% endcomment %}



<section class="jobs-wrapper section-wrapper">
  <ul class="jobs-cards">
  {% for job in searched_jobs %}
    <li class="jobs-card-wrapper">
      <a href="{% url 'job_details_2' id=job.job_id %}"> 
        <div class="jobs-top-category">
         <p>{{ job.job_category }}</p>
        </div>
      </a>
      <div class="jobs-card">
        <div class="jobs-card-content">
          <div class="jobs-card-top">
            <i class="fas fa-search"></i>
            <h3 class="jobs-card-title">{{ job.job_title }}</h3> 
          </div>
          <p class="jobs-detail">
          {{ job.job_description|truncatechars:100 }}
          {% comment %} {{ job.job_description|truncate(50, True, '...') }} {% endcomment %}
            
          </p>
        </div>
        <ul class="jobs-card-low">
          <li class="jobs-contact-item">
            <h5>Email</h5>
            <p>{{ job.job_email }}</p>
          </li>
          <li class="jobs-contact-item">
            <h5>Number</h5>
            <p>{{ job.job_phone }}</p>
          </li>
          <li class="jobs-contact-item">
            <h5>Location</h5>
            <p>{{ job.job_email }}</p>
          </li>
        </ul>
      </div>
      {% endfor %}
    </li>
  </section>

  
{% comment %} all jobs {% endcomment %}
<section class="jobs-wrapper section-wrapper">
  <ul class="jobs-cards">
  {% for job in jobs %}
    <li class="jobs-card-wrapper">
      <a href="{% url 'job_details_2' id=job.job_id %}"> 
        <div class="jobs-top-category">
         <p>{{ job.job_category }}</p>
        </div>
      </a>
      <div class="jobs-card">
        <div class="jobs-card-content">
          <div class="jobs-card-top">
            <i class="fas fa-search"></i>
            <h3 class="jobs-card-title">{{ job.job_title }}</h3>
          </div>
          <p class="jobs-detail">
          {{ job.job_description|truncatechars:100 }}
          {% comment %} {{ job.job_description|truncate(50, True, '...') }} {% endcomment %}
            
          </p>
        </div>
        <ul class="jobs-card-low">
          <li class="jobs-contact-item">
            <h5>Email</h5>
            <p>{{ job.job_email }}</p>
          </li>
          <li class="jobs-contact-item">
            <h5>Number</h5>
            <p>{{ job.job_phone }}</p>
          </li>
          <li class="jobs-contact-item">
            <h5>Location</h5>
            <p>{{ job.job_email }}</p>
          </li>
        </ul>
      </div>
      {% endfor %}
    </li>
 </section>
<div class="popup-msg">
  {% for message in messages %}
    <p class="popup-msg-text">{{message}}</h1>
  {% endfor %}
</div>