    <footer>
        <div class="footer-el footer-el-a">
            <ul>
                <li><a href="#!">lorem</a></li>
                <li><a href="#!">lorem</a></li>
                <li><a href="#!">lorem</a></li>
            </ul>
        </div>
        <div class="footer-el footer-el-b">
            <ul>
                <li><a href="#!">lorem</a></li>
                <li><a href="#!">lorem</a></li>
                <li><a href="#!">lorem</a></li>
            </ul>
        </div>
        <div class="footer-el footer-el-c">
            <ul>
                <li><a href="#!">lorem</a></li>
                <li><a href="#!">lorem</a></li>
                <li><a href="#!">lorem</a></li>
            </ul>
        </div>
    </footer>