{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>

<nav>
    <div class="logo"><img src="{% static "images/ej.png" %}" alt="logo"/ height="50px"></div>
    <ul class="nav-items">
        <li class="nav-item"><a href="/"> <i class="fas fa-home"></i> Home</a></li>
        <li class="nav-item"><a href="{% url 'login' %}"> <i class="fas fa-sign-in-alt"></i> Login</a></li>
        <li class="nav-item"><a href="{% url 'seeker_register' %}"><i class="fas fa-user-plus"></i> Register</a></li>
        <li class="nav-item"><a href="{% url 'recruiter_register' %}"><i class="fas fa-puzzle-piece"></i> Recruiter  portal</a></li>
        <li class="nav-item"><a href="{% url 'about_us' %}"><i class="fas fa-address-card"></i> About us</a></li>
    </ul>
</nav>
