{% include "header1.html" %}
    <main class="hero">
    
        <div class="container">
            <div class="hero-left">
                <h1 class="hero-title">COVID-19 Unemployment Response</h1>
                <p class="hero-desc">The Coronavirus (COVID-19) pandemic has been brutal on Nepal's workforce, and merojob is committed to helping the superheroes of Nepal's economy.
                <br><br>It is estimated that millions of Nepalese will lose their jobs. This section is dedicated to bridging active employers and active job-seekers in the fastest way.</p>
                <div class="cta">
                    <div class="search-bar">
                        <div style="height: 10px;">
                        </div>
                        <form method="get" action="{% url 'search' %}" class="search-bar">            
                            <input type="search" placeholder="Search your job" name="query" id="query" class="search-bar-input">
                            <button class="get-started-btn btn-primary" type ="submit">SEARCH</button>
                        </form>
                    </div>
                </div>
            </div>
            
            <div class="hero-right">
                <div class="hero-right-image">
                    <img src="https://images.unsplash.com/photo-1600880292203-757bb62b4baf?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" alt="">
                </div>
            </div>
                <div class="popup-msg">
                {% for message in messages %}
                    <p class="popup-msg-text">{{message}}</h1>
                {% endfor %}
                </div>
        </div>
    </main>
    <section class="services">
        <div class="services-container section-container">
            <h3>Our Services</h3>
            <ul class="services-items">
                <li class="services-item"><a  href="{% url 'home' %}">
                    <i class="fa fa-search"></i>
                    <p>Job Search</p></a>
                </li>
                <li class="services-item"><a  href="{% url 'login' %}">
                    <i class="fa fa-user-friends"></i>
                    <p>Recruitment</p></a>
                </li>
                <li class="services-item"><a  href="{% url 'login' %}">
                    <i class="fa fa-home"></i>
                    <p>Placement</p></a>
                </li>
            </ul>
        </div>
    </section>
    <section class="motto">
        <div class="motto-wrapper">
            <div class="motto-text">
                <h2>WHO UNDERSTANDS IT'S PERSONAL?<br> WE DO.<br><br>TO US,<br>IT'S ABOUT YOU</h2>
                <p>Search, Apply & Get Jobs in Nepal - Free</p>
            </div>
        </div>
    </section>
</body>
{% include "footer.html" %}